# ---- DB（PostgreSQL）----
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# ---- アプリ基本 ----
# Spring Bootのログレベルをデバッグに設定
LOGGING_LEVEL=
# Spring Bootのセキュリティログをデバッグに設定
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=

# ---- Stripe ----
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

# ---- Cloudinary ----
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ---- LINE Messaging API ----
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=